.content {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
  	grid-gap: 1rem;
}

card {
	position: relative;
	height: 85%;
	background-color: rgba(var(--frontground-color), 0.8);
	border: 1px solid rgba(var(--primary-color), 0.7);
	border-radius: 7px;
	color: #ddd;
	cursor: default;
	margin: 1rem;
	transition: 0.35s;
	overflow-y: scroll;
	padding: 1rem;
}
card:hover {
	-webkit-box-shadow: 0 0 10px 3px rgba(var(--primary-color), 0.15);
	box-shadow: 0 0 10px 3px rgba(var(--primary-color), 0.15);
}
card hr {
	position: relative;
    border: none;
    border-bottom: 1px solid rgba(var(--font-color), 0.1);
    margin: 0.5rem 0 1rem 0;
}
card item {
	display: block;
	position: relative;
	width: 100%;
	padding: 0.75vw;
	margin: 0rem 0.5rem 0rem 0.5rem;
	font-size: 1.2rem;
	color: rgba(var(--font-color), 0.9);
}
card item strong {
	color: rgba(var(--primary-color), 0.7);
}
card item code {
	margin-top: 2rem;
	font-family: monospace !important;
	background-color: rgba(0, 0, 0, .15);
}
card item note {
	font-size: 1.2rem;
	color: #d1b076;
}
card item img.discord {
	transition: transform 0.25s ease-in-out;
	border-radius: 7px;
}
card item img.discord:hover {
	transform: scale(1.03)
}
card item ul {
	margin-left: 2rem
}
