.content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
  	grid-gap: 1rem;
}

#idc {
	position: absolute;
	margin-top: -3vh;
	margin-left: 1vh;
}

card {
	position: relative;
	width: 95%;
	width: 38vw;
	height: 84vh;
	background-color: rgba(var(--frontground-color), 0.9);
	border: 1px solid rgba(var(--primary-color), 0.7);
	border-radius: 7px;
	cursor: default;
	margin: 1rem;
	transition: 0.35s;
}
/* card:hover {
	-webkit-box-shadow: 0 0 10px 3px rgba(var(--primary-color), 0.25);
	box-shadow: 0 0 10px 3px rgba(var(--primary-color), 0.25);
} */
card item {
	display: block;
	position: relative;
	width: 100%;
	padding: 0.75vw;
	margin: 0rem 0.5rem 0rem 0.5rem;
	font-size: 1.2rem;
	color: rgba(var(--font-color), 0.9);
}
item strong {
	color: rgba(var(--primary-color), 0.7);
	padding-right: 0.25rem;
}
card input {
	position:absolute;
	top: 0.5vw;
	right: 0.5vw;
	background-color:rgba(0, 0, 0, .1);
	border: none;
	border: 1px solid rgba(var(--primary-color), 0.9);
	border-radius: 5px;
    outline:none;
	color:rgba(var(--font-color), 0.9);
	padding: 0.35rem;
	transition: 0.2s;
}
card input:focus {
	-webkit-box-shadow: 0 0 10px 3px rgba(var(--primary-color), 0.25);
	box-shadow: 0 0 10px 3px rgba(var(--primary-color), 0.25);
}
card item ul {
	display: grid;
	grid-template-columns: 1fr;
	margin-left: 1rem;
	margin-top: -0.75rem;
	padding: 0;
	overflow: hidden;
	overflow-y: scroll;
	max-height: 77vh;
}
card item ul li {
	padding: 0.5rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	color: rgba(var(--font-color), 0.9);
	font-size: 0.9rem;
	transition: background-color 0.4s, transform 0.25s;
}
card item ul li:not(:first-child):hover {
	background-color: rgba(var(--primary-color), 0.2) !important;
	transform: translate(10px, 0px);
}
card item ul li.user:nth-child(odd) {
	background-color:rgba(255, 255, 255, .1)
}
card item ul li::marker {
	color: rgba(var(--font-color), 0.9);
	font-size: 0.9rem;
}

card item div.progress-stats {
	display: flex;
	font-size: 0.9rem;
	color: #787878;
	width: 100%;
	margin-top: -0.75rem;
	margin-bottom: 0.5rem;
	align-items: center;
	justify-content: center;
}
card item div.progress-wrapper {
	width: 97%;
	height: 3rem;

	background-color: rgba(0,0,0, .3);
	border-radius: 3px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5) inset;
}
card item div.progress-wrapper perc {
	display:inline-block;
	position: absolute;
	color: #eee;
	-webkit-text-stroke: 0.2px black;
	text-stroke: 0.2px black;
	top: 2.2rem;
	left: 45%;
	font-weight: 600;
}
card item div.progress {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
	background-image:
	   -webkit-linear-gradient(-40deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #7a683a, #9c813c, #b98f25, #ffb700);

    border-radius: 3px; 
    background-size: 2rem 1rem, 100% 100%, 100% 100%;
}

card item progress[value] {
	-webkit-appearance: none;
    appearance: none;

	margin-top: 0.5rem;

	width: 95%;
  	height: 3rem;
}
card item progress[value]::-webkit-progress-bar {
	background-color: rgba(0,0,0, .3);
	border-radius: 3px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5) inset;
}
card item progress[value]::-webkit-progress-value {
	background-image:
	   -webkit-linear-gradient(-40deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #7a683a, #9c813c, #b98f25, #ffb700);

    border-radius: 3px; 
    background-size: 2rem 1rem, 100% 100%, 100% 100%;
}

hr {
	position: relative;
	width: 90%;
	border: none;
	border-bottom: 1px solid rgba(var(--font-color), 0.1);
	margin: 0;
}

span#status.online {
	color: rgba(var(--success-color), 0.9);
	-webkit-text-stroke: 0.1px rgba(255, 255, 255, 0.4);
}
span#status.offline {
	color: rgba(var(--error-color), 0.9);
	-webkit-text-stroke: 0.1px rgba(255, 255, 255, 0.3);
}
