body {
	min-height: 100vh;
	background: rgb(var(--background-color));
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 40px;
	color: rgba(var(--font-color), 0.9);
	font-size: 16px;
	background-color: rgba(var(--frontground-color), 0.9);
	border-radius: 8px;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(var(--primary-color), 0.45);
	box-shadow: 0px 0px 4px 3px rgba(var(--primary-color), 0.45);

}
.login-form h1 {
	margin: 0 0 24px 0;
}
.login-form .form-input-material {
	margin: 12px 0;
}
.login-form .btn {
	width: 7vw;
	margin: 18px 0 9px 0;
	padding: 0.5rem;
	position: relative;
	border-radius: 5px;
	background-color: rgba(255,255,255,0.1);
	cursor: pointer;
}
.login-form input {
	color: rgba(var(--font-color), 0.9);
}
.login-form button, .login-form input {
	font: inherit;
	outline: none;
}

.form-input-material {
	--input-border-bottom-color: rgba(var(--font-color), 0.9);
	position: relative;
	border-radius: 3px;
	border-bottom: 1px solid var(--input-border-bottom-color);
}
.form-input-material::before {
	position: absolute;
    content: "";
    left: 0;
    bottom: -1px;
    width: 100%;
	border-bottom: 1px solid rgba(var(--primary-color), 0.5);
	border-radius: 3px;
    height: 2px;
    transform: scaleX(0);
    transform-origin: center;
    transition: 0.5s;
}
.form-input-material:focus-within::before {
	transform: scaleX(1);
}
.form-control-material {
    padding: 0.5rem 0;
    background: none;
    border: none;
}
.form-control-material:-webkit-autofill,
.form-control-material:-webkit-autofill:hover, 
.form-control-material:-webkit-autofill:focus, 
.form-control-material:-webkit-autofill:active
{
	-webkit-text-fill-color: rgba(var(--font-color), 0.9) !important;
	-webkit-box-shadow: 0 0 0 30px rgb(var(--frontground-color)) inset !important;
}
.btn-ghost {
	--btn-color: rgb(var(--primary-color));
	--btn-border-color: rgb(var(--primary-color));
  
	background: none;
	transition: 0.3s;
	overflow: hidden;
	color: var(--btn-color);
	border: 1px solid var(--btn-border-color);
}
.btn-ghost::before {
	position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgb(var(--primary-color)), transparent);
    transform: translateX(-100%);
    transition: 0.6s;
}
.btn-ghost:hover {
	-webkit-box-shadow: 0 0 10px 3px rgba(var(--primary-color), 0.4);
	box-shadow: 0 0 10px 3px rgba(var(--primary-color), 0.4);
}
.btn-ghost:hover::before {
	transform: translateX(100%);
}

span#output {
	font-size: 12px;
}